/* 9ddfd3 , ffc93c */
body{
    background-color: #ffffff;
    /* #dbf6e9 ,  #edffec , #f9fcfb*/
}

/*NAVBAR*/
.navbar-main{
    background-color:  #31326f;
    width:100%;
    overflow-x: hidden;
}
.navbar{
    height:100px;
}
.responsive-navbar{
    margin:auto 2%;

}
.top-header{
    background-color: #31326f;
}
.logo{
    align-items:center ;
    display: flex;
    color: rgb(255, 255, 255);
}
.logo-image{
    padding: 2px;
    vertical-align: middle;
    
}
.logo-name{
    vertical-align: middle;
    margin-left: 2px;
    font-size: 30px;
}


/*MAIN TEXT*/
#main-text{
    margin:2% auto;
    text-align: center;
    min-height:600px;
    /* max-height:fit-content; */
    overflow-x: hidden;
}
.main-img{
    /* background-image: url('/resources/home-design.jpeg'); */
    /* background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; */
    height:auto;
    width:100%;
}
.main-text-row{
    margin:auto;
    padding:auto;
    max-height: 700px;
}

.text{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color:#050220;
    margin: auto 2% auto 0%;
    font-size: 3em;
    width:100%;
    padding: 20%;
}
a:link{
    text-decoration: none;
}
.col-card{
    margin:2% auto;
}
@media(min-width: 600px){
    .text{
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color:#050220;
        margin: auto 2% auto 0%;
        font-size: 4em;
        width:100%;
        padding: 20%;
    }
 }



/*FEATURES*/
#login{
    margin:60px auto 250px;
}
.align-login{
    margin:auto;
    padding:20px;
    width: 70%;
}
.login-card{
    background-color:#dbf6e9;
    /* #ebe9e9 */
    text-align: center;
}
.login-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color:#edffec;
    opacity:0.8;
}
.card-body{
    background-color:#dbf6e9;
}
.admin-img{
    background-color:#dbf6e9;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.admin-img:hover{
    opacity:0.5;
}
.visitor-img{
    border-radius: 50%;
    background-repeat: no-repeat;
}
.name{
    color:#050220;
}








/*FOOTER*/
/* .footer{
    padding:50px 100px;
    margin:auto;
    text-align: center;
} */
.panel-footer{
    font-size: 16px;
}
.footer-icon{
    color: black;
    margin: auto 3px;
}

.fa {
    padding: 6.9px;
    height:30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    margin: 10px 10px;
    border-radius: 50%;
  }
.copyright{
    color: #FFFFFF;
    margin:10px auto;
    padding-top: 12px;
}
.fa:hover {
    opacity: 0.7;
}